{% extends "admin/change_form.html" %}

{% block after_form %}

	<form method="post" id="upload_form" enctype="multipart/form-data" action="/blog/upload{{ request.path }}">
		{% csrf_token %}
		<input type="file" name="upload_image" id="upload_image">
		<button type="submit" id="upload_button" value="Upload Image" name="upload">Upload Image</button>
		<img src="{{ url }}">
  </form>
	<!--

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	    $('#upload_form').submit(function(e){
		    e.preventDefault();
		    url = $(this).attr('action')
		    data = $(this).serialize();
		    $.post(url, data, function(response){
			    alert('ddd');
		    })
			})
		});

	</script>
	-->
{% endblock %}
