/* custom stylesheet */

/* tags */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	border-bottom: none;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	-webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: lightblue;
  color: white;
}

.tag:hover::after {
   border-left-color: lightblue;
}

/* pagination */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	border-bottom: thin;
}

.pagination a.active {
    background-color: cadetblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: gainsboro;}

/* For puncher */

/* colorblock  */

.colorblock {
	width: 100%;
	height: 1em;
	margin-bottom: 0.3em;
}

	.colorblock.thick {
		height: 3em;
	}

	.colorblock.c0 {
		background: deepskyblue;
	}
	.colorblock.c1 {
		background: orangered;
	}
	.colorblock.c2 {
		background: gold;
	}
	.colorblock.c3 {
		background: lightseagreen;
	}
	.colorblock.c4 {
		background: rebeccapurple;
	}
	.colorblock.c5 {
		background: hotpink;
	}
	.colorblock.c6 {
		background: lightsteelblue;
	}
	.colorblock.c7 {
		background: lawngreen;
	}
	.colorblock.c8 {
		background: brown;
	}
	.colorblock.c9 {
		background: sandybrown;
	}

.coloricon {
	width: 1em;
    height: 1em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
	margin-top: 0.15em;
	margin-left: 0.5em;
	float: left;
	color: #fffffe;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}