{% extends "base.html" %}

{% block title %}Execution's Blogs{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
    {% if is_search %} <!-- search page -->
        <li><a href="/blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Blog</span></a></li>
    {% else %}  <!-- home page -->
        <li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
    {% endif %}
    <li><a href="#search" id="search-link" class="skel-layers-ignoreHref"><span class="icon fa-search">Search</span></a></li>
    <li><a href="#list" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-list">List</span></a></li>
    <br />
    <li><a href="/admin/blog/post/add/" id="add-link" class="skel-layers-ignoreHref"><span class="icon fa-plus">New Post</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="search" class="top dark center">
        <div class="container">
            {% if is_search %}
                <header><h2>Search Results for '{{ keyword }}'</h2></header>
            {% else %}
                <header><h2>Blog</h2></header>
            {% endif %}
            <form method="get" action="/blog/search/">
                {% csrf_token %}
                <div class="row">
                    <div class="12u$"><input type="search" name="q" placeholder="Search..." /></div>
                </div>
            </form>
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
        <div class="container">

            {% for post in posts %}
            <div class="post">
                <h3><span class="icon fa-angle-right">&nbsp;&nbsp;</span><a href="{% url 'blog.views.blog_post' post.id %}">{{ post.title }}</a></h3>
                <div class="info">
                    <span class="category" style="color: #ff9900;">{{ post.category }}</span>
                    <span class="author" style="color: #4a86e8">{{ post.author }}</span>
                    <span class="pub_date" style="color: #6aa84f">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                    <span class="mod_date" style="color: dimgray"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
                </div>
                <div class="summary">
                    {{ post.content|slice:"64" }}...
                </div>
                <br />
            </div>
            {% endfor %}


            {% if posts.has_other_pages %}
						  <div class="pagination">
						    {% if posts.has_previous %}
						      <a href="?page={{ posts.previous_page_number }}">&laquo;</a>
						    {% else %}
						      <a class="disabled"><span>&laquo;</span></a>
						    {% endif %}
						    {% for i in posts.paginator.page_range %}
						      {% if posts.number == i %}
						        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
						      {% else %}
						        <a href="?page={{ i }}">{{ i }}</a>
						      {% endif %}
						    {% endfor %}
						    {% if posts.has_next %}
						      <a href="?page={{ posts.next_page_number }}">&raquo;</a>
						    {% else %}
						      <a class="disabled"><span>&raquo;</span></a>
						    {% endif %}
						  </div>
						{% endif %}

        </div>
    </section>


{% endblock %}
