{% extends "base.html" %}

{% block title %}Execution's Blogs{% endblock %}

{% block sidebar %}
    <li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-reply">Home</span></a></li>
    <li><a href="#search" id="search-link" class="skel-layers-ignoreHref"><span class="icon fa-search">Search</span></a></li>
    <li><a href="#list" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-list">List</span></a></li>
    <br />
    <li><span> </span></li>
    <li><a href="/admin/blog/post/add/" id="add-link" class="skel-layers-ignoreHref"><span class="icon fa-plus">New Post</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="search" class="one dark cover" height="100px">
        <div class="container">
            <header><h2>Blog</h2></header>
            <form method="post" action="#">
                <div class="row">
                    <div class="8u 12u$(mobile)"><input type="text" name="keyword" placeholder="Keyword" /></div>
                    <div class="4u$ 12u$(mobile)"><input type="submit" value="Search" /></div>
                </div>

            </form>
        </div>
    </section>

    <!-- List -->
    <section id="list" class="two">
        <div class="container">

            {% for post in posts %}
            <div class="post">
                <h3><a href="{% url 'blog.views.post' post.id %}" style="text-decoration:none;">{{ post.title }}</a></h3>
                <div class="info">
                    <span class="category" style="color: #ff9900;">{{ post.category }}</span>
                    <span class="author" style="color: #4a86e8">{{ post.author }}</span>
                    <span class="pub_date" style="color: #6aa84f">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                    <span class="mod_date" style="color: #000000"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
                </div>
                <div class="summary">
                    {{ post.content|slice:"64" }}...
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}
