{% extends "base.html" %}

{% block title %}Execution's Blogs{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
    <li><a href="/blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Blog</span></a></li>
    <li><a href="#post" id="post-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Post</span></a></li>
    <li><a href="#comment" id="comment-link" class="skel-layers-ignoreHref"><span class="icon fa-comment">Comment</span></a></li>
    <br />
    <li><span> </span></li>
    <li><a href="/admin/blog/post/{{ post.pk }}" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-edit">Edit</span></a></li>

{% endblock %}


{% block content %}

    <section id="post">
        <article class="container">
            <h1>{{ post.title }}</h1>
            <div class="info">
                <div class="category">

                    <span class="icon fa-thumb-tack" style="font-size:15px;color:orangered;">&nbsp;&nbsp;</span>
                    <span class="category" style="color: orange"><a>{{ post.category }}</a></span>
                </div>
                <div class="author">
                    <span class="icon fa-user" style="font-size:15px;color:orangered;">&nbsp;&nbsp;</span>
                    By <span class="author" style="color: #4a86e8"><a>{{ post.author }}</a></span>
                </div>
                <div class="time">
                    <span class="icon fa-clock-o" style="font-size:15px;color:orangered;">&nbsp;&nbsp;</span>
                    <span class="pub_date" style="color: dimgray">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                    <span class="mod_date" style="color: dimgray"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
                </div>

            </div>
            <article class="markdown-body">
                {{ post.content|safe }}
            </article>
        </div>
    </section>

    <section id="comment">
        <div class="container">
            No comment.
        </div>
    </section>

{% endblock %}
