{% extends "base.html" %}

{% block title %}Execution's Blogs{% endblock %}

{% block sidebar %}
    <li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-reply-all">Home</span></a></li>
    <li><a href="/blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-reply">Blog</span></a></li>
    <li><a href="#post" id="post-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Post</span></a></li>
    <li><a href="#comment" id="comment-link" class="skel-layers-ignoreHref"><span class="icon fa-comment">Comment</span></a></li>
    <br />
    <li><span> </span></li>
    <li><a href="/admin/blog/post/{{ post.pk }}" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-edit">Edit</span></a></li>

{% endblock %}


{% block content %}

    <section id="post">
        <div class="container">
            <h3><a href="{% url 'blog.views.post' post.id %}" style="text-decoration:none;">{{ post.title }}</a></h3>
            <div class="info">
                <span class="category" style="color: #ff9900;">{{ post.category }}</span>
                <span class="author" style="color: #4a86e8">{{ post.author }}</span>
                <span class="pub_date" style="color: #6aa84f">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                <span class="mod_date" style="color: #000000"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
            </div>
            <div class="article">
                {{ post.content }}
            </div>
        </div>
    </section>

    <section id="comment">
        <div class="container">
            No comment.
        </div>
    </section>

{% endblock %}
