{% extends "blog_home.html" %}

{% block sidebar %}
    <li><a href="/blog" id="blog-link" class="skel-layers-ignoreHref">
        <span class="icon fa-arrow-left">Blog</span></a></li>
    <br />

    {% if categories %}
        {% for cat in categories %}
            <li><a href="{{ cat.get_absolute_url }}" class="skel-layers-ignoreHref
                {% if cat == category %}active{% endif %}">
                <span class="icon fa-circle-o">{{ cat }}</span></a></li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}

    {% if category %}
        <section id="category" class="top dark center" height="100px">
            <header><h2>Category: {{ category }}</h2></header>
        </section>
    {% endif %}

    <!-- List -->
    <section id="list" class="body">
        <div class="container">

            {% for post in posts %}
            <div class="post">
                <h3><span class="icon fa-angle-right">&nbsp;&nbsp;</span><a href="{% url 'blog.views.blog_post' post.id %}">{{ post.title }}</a></h3>
                <div class="info">
                    <span class="category" style="color: #ff9900;">{{ post.category }}</span>
                    <span class="author" style="color: #4a86e8">{{ post.author }}</span>
                    <span class="pub_date" style="color: #6aa84f">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                    <span class="mod_date" style="color: dimgray"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
                </div>
                <div class="summary">
                    {{ post.content|slice:"64" }}...
                </div>
                <br />
            </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
