{% extends "blog_home.html" %}

{% block head_assert %}
	<link rel="stylesheet" href="/static/css/github-markdown.css" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github-gist.min.css">
  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();

			//numbering for pre>code blocks
			$(function(){
			    $('pre code').each(function(){
			        var lines = $(this).text().split('\n').length - 1;
			        var $numbering = $('<div/>').addClass('pre-numbering');
			        $(this).addClass('has-numbering');
				      $(this).parent().prepend($numbering);

				      var str = "";
			        for(i = 1; i <= lines; i++){
				          str += i+"\n"
			        }
			        $numbering.html(str);
			    });
			});
	</script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block sidebar %}
    <li><a href="/blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Blog</span></a></li>
    <li><a href="#post" id="post-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Post</span></a></li>
    <li><a href="#comment" id="comment-link" class="skel-layers-ignoreHref"><span class="icon fa-comment">Comment</span></a></li>
    <br />
    <li><span> </span></li>
    <li><a href="/admin/blog/post/{{ post.pk }}" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-edit">Edit</span></a></li>

{% endblock %}

{% load markup %}

{% block content %}

    <section id="post">
        <div class="container">
            <h1>{{ post.title }}</h1>
            <div class="info">
                <div class="category">

                    <span class="icon fa-thumb-tack" style="font-size:15px;color:crimson;">&emsp;</span>
                    <span class="category" style="color: orange">
                        <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                    </span>
                </div>
                <div class="author">
                    <span class="icon fa-user" style="font-size:15px;color:crimson;">&emsp;</span>
                    By <span class="author" style="color: #4a86e8"><a>{{ post.author }}</a></span>
                </div>
                <div class="time">
                    <span class="icon fa-clock-o" style="font-size:15px;color:crimson;">&emsp;</span>
                    <span class="pub_date" style="color: dimgray">{{ post.publication_date|date:"Y-m-d H:i" }}</span>
                    <span class="mod_date" style="color: dimgray"> | Updated: {{ post.modification_date|date:"Y-m-d H:i" }}</span>
                </div>
                <ul class="tags">
                    {% for tag in tags %}
                        <li><a href="{{ tag.get_absolute_url }}" class="tag">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <br />

            <article class="markdown-body">
                {{ post.content | my_markdown }}
            </article>
        </div>
    </section>

    <section id="comment">
        <div class="container">

					<div id="disqus_thread">You may not be able to access <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
					</div>
					<script>

					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

					var disqus_config = function () {
						this.page.url = 'http://www.execution.website/blog/post/{{ post.pk }}#comment';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = 'blog-{{ post.pk }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};

					(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://execution-1.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
					</script>

        </div>
    </section>

{% endblock %}
