{% extends "facer_home.html" %}


{% block sidebar %}
	<li><a href="/facer/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Facer</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center">
        <div class="container">
	        Input Photo:
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
      <div class="container">
	      <form method="post" id="upload_form" enctype="multipart/form-data" action="">
					{% csrf_token %}
					<input type="file" name="upload_image" id="upload_image">
					<button type="submit" id="upload_button" value="Upload Image" name="upload">Upload Image</button>
			  </form>

	      <img src="{{ img_src }}" width="100%"/>

	      <form action="output" method="get">
		      {% for counter in count_list %}
		        <input type="radio" name="src" value="{{ counter }}" />{{ counter }}
		      {% endfor %}
				  <input type="submit" value="Submit" />
				</form>
      </div>

    </section>



{% endblock %}
