{% extends "base.html" %}

{% block title %}Execution's Facer{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
	<li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center">
        <div class="container">
	        <header>
              <h2>Facer</h2>
              <p>红发香克斯, 面子果实能力者。</p>
          </header>
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
      <div class="container">

        <h2><a href="1/">facer 1.0</a></h2>
				<pre>两步快速制作你和Gakki的合照：</pre>
	      <pre>1. 上传一张包含你正脸的图片，点击 "Upload Image" 按钮</pre>
	      <pre>2. 选择要合影的脸的编号，点击 "Choose" 按钮</pre>


      </div>
    </section>


{% endblock %}
