{% extends "facer_home.html" %}


{% block sidebar %}
	<li><a href="/facer/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Facer</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center">
        <div class="container">
	        Input Photo:
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
      <div class="container">
	      <form method="post" id="upload_form" enctype="multipart/form-data" action="">
					{% csrf_token %}
					<input type="file" name="upload_image" id="upload_image" onloadedmetadata="enUpload()">
					<button type="submit" id="upload_button" value="Upload Image" name="upload" disabled="disabled">
						Upload Image</button>

		      <script>
	            function enGenerate() {
	                document.getElementById('upload_button').disabled = false;
	                // <html> disabled = false means disabled, js disabled = false means enabled.
	            }
	        </script>
			  </form>

	      <img src="{{ img_src }}" width="100%"/>

	      <form action="output" method="get" enctype="multipart/form-data">
	        {% csrf_token %}

		      <input type="hidden" name="img_pk" value="{{ img_pk }}"></input>

	        Choose One Face with Gakki:
	        {% if not count_list %}
	          No faces detected.
	        {% endif %}
		      {% for counter in count_list %}
		        <input type="radio" name="number" value="{{ counter }}" onclick="enGenerate()"/>{{ counter }}
		      {% endfor %}
				  <input type="submit" id="generate_button" value="Generate" disabled="disabled"/>

	        <script>
	            function enGenerate() {
	                document.getElementById('generate_button').disabled = false;
	                // <html> disabled = false means disabled, js disabled = false means enabled.
	            }
	        </script>
				</form>
      </div>

    </section>



{% endblock %}
