{% extends "base.html" %}

{% block title %}Execution's Guitarist{% endblock %}

{% block sidebar %}
	<li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center">
        <div class="container">
	        <header>
              <h2>Guitarist</h2>
              <p>吉他谱播放器</p>
          </header>
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
      <div class="container">

        <h2>List</h2>



      </div>
    </section>


{% endblock %}
