{% extends "base.html" %}

{% block title %}Execution's Website{% endblock %}

{% block sidebar %}
    <li><a href="#intro" id="intro-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Introduction</span></a></li>
    <li><a href="#display" id="display-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Display</span></a></li>
    <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
    <br />

    <li style="text-align: center;color: rgba(255, 255, 255, 0.5);"><pre>Application</pre></li>
    <li><a href="/blog/" id="blog-link"><span class="icon fa-book">Blog</span></a></li>
    <li><a href="/facer/" id="facer-link"><span class="icon fa-photo">Facer</span></a></li>
    <li><a href="/puncher/" id="puncher-link"><span class="icon fa-calendar-check-o">Puncher</span></a></li>
    <li><a href="/guitarist/" id="guitarist-link"><span class="icon fa-calendar-check-o">Guitarist</span></a></li>

{% endblock %}


{% block content %}

<!-- Intro -->
    <section id="intro" class="one dark cover center" style="background-image: url('/static/img/intro1.jpg')">
        <div class="container">

            <header>
                <h2 class="alt">Hello World!<br />
                    This is a personal website builded by <strong>Execution</strong>.</h2>
                <p>Enjoy!</p>
            </header>

            <footer>
                <a href="#display" class="button skel-layers-ignoreHref">See More</a>
            </footer>

        </div>
    </section>

<!-- Display -->
    <section id="display" class="body center">
        <div class="container">

            <header>
                <h2>Display</h2>
            </header>

            <div class="row">
                <div class="6u 12u$(mobile)">
                    <article class="item">
                        <a href="/blog" class="image fit"><img src="/static/img/blog.jpg" alt="" /></a>
                        <header>
                            <h3>Blog</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="#" class="image fit"><img src="/static/img/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Rhoncus Semper</h3>
                        </header>
                    </article>
                </div>
                <div class="6u$ 12u$(mobile)">
                    <article class="item">
                        <a href="#" class="image fit"><img src="/static/img/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Magna Nullam</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="#" class="image fit"><img src="/static/img/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Natoque Vitae</h3>
                        </header>
                    </article>
                </div>
            </div>


        </div>
    </section>

<!-- About Me -->
    <section id="about" class="about center">
        <div class="container">

            <header>
                <h2>About Me</h2>
            </header>

            <a href="#" class="image featured"><img src="/static/img/jojo.jpg" alt="" /></a>

            <p>No comment. Five can tell.</p>





        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="contact center">
        <div class="container">

            <header>
                <h2>Contact</h2>
            </header>

            <p>You can NOT leave a message to me here.</p>

            <form method="post" action="#">
                <div class="row">
                    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                    <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
                    <div class="12u$">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Send Message" />
                    </div>
                </div>
            </form>

        </div>
    </section>



{% endblock %}
