{% extends "base.html" %}

{% block title %}Execution's Puncher{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
	<li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center narrow" style="background: darkslateblue">

        <div class="container">
		        <header>
		            <h2>Puncher Daily Task</h2>
		            <p>User: {{ user }}</p>
	          </header>
        </div>
    </section>

		<!-- Display -->
    <section id="list" class="white narrow">
      <div class="container">
	      <div class="row">
		      {% for date in dates %}
		        <div class="2u" style="text-align: center">{{ date }}</div>
		      {% endfor %}
	      </div>

				<div class="row">
					{% for day in days %}
	          <div class="2u">
	            {% for task in day %}
		            <div class="colorblock c{{ task }}"></div>
	            {% endfor %}
	          </div>
					{% endfor %}
				</div>


      </div>
    </section>


{% endblock %}
