{% extends "base.html" %}

{% block title %}Execution's Puncher{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
	<li><a href="/puncher" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Puncher</span></a></li>
	<li><a href="#todo" id="todo-link" class="skel-layers-ignoreHref"><span class="icon fa-list">Todo</span></a></li>
	<li><a href="#display" id="display-link" class="skel-layers-ignoreHref"><span class="icon fa-list">Display</span></a></li>
	<li><a href="#money" id="money-link" class="skel-layers-ignoreHref"><span class="icon fa-money">Money</span></a></li>
	<li><a href="#add" id="add-link" class="skel-layers-ignoreHref"><span class="icon fa-plus">Add</span></a></li>

{% endblock %}

{% block content %}

    <!-- Title -->
    <section id="title" class="top dark center narrow" style="background: darkslateblue">

        <div class="container">
		        <header>
		            <h2>Puncher Daily Task</h2>
		            <p>User: {{ user }}</p>
	          </header>
        </div>
    </section>

		<!-- Todo_list -->
    <section id="todo" class="body narrow center unselectable">
      <div class="container" id="todo-container">
        <script type="text/javascript">

					var list;
					var touch_before, touch_after, x_before, x_after;

					// init the widegts
					window.onload = function() {
						list = document.getElementsByClassName("coloricon");
						for (let i = 0; i < list.length; i++) {
					    list[i].addEventListener("mousedown", function() { down(list[i]); }, false);
					    list[i].addEventListener("touchstart", function() { down(list[i]); }, false);
						}
					}

					var drag_ = false;
					var D = new Function('obj', 'return document.getElementById(obj);');
					var oevent = new Function('e', 'if (!e) e = window.event;return e');
					var fw = document.getElementById("todo-container").clientWidth;
					var offset_, obj_;  // global variables for set()

					// when mouse or finger down
					function down(obj) {
						if (drag_ == true) setInterval(set, 30);
						drag_ = true;
						obj_ = obj;
						x_before = obj_.clientLeft;

						if (event.touches) touch_before = event.touches[0].clientX;
						else touch_before = event.clientX;

						document.addEventListener("mousemove", function() { move(); }, false);
						document.addEventListener("touchmove", function() { move(); }, false);
						document.addEventListener("mouseup", function() {drag_ = false; setInterval(set, 30);}, false);
						document.addEventListener("touchend", function() {drag_ = false; setInterval(set, 30);}, false);
					}

					// when mouse or finger move
					function move() {
						if (!drag_) return;

						if (event.touches) touch_after = event.touches[0].clientX;
						else touch_after = event.clientX;

						offset_ = (x_before + touch_after - touch_before)/fw*100;
						if (offset_ > 88) offset_ = 90 - 176 / offset_; // smooth
						obj_.style.left = offset_ + "%";

					}

					// set the position when release
	        function set() {
		        if (offset_ <= 0) return;
		        if (offset_ >= 90) {
			        obj_.firstElementChild.className = "icon fa-chevron-circle-down";
			        obj_.nextSibling.className += "done";
			        punch();
			        offset_ = 0;

			        obj_.className = "coloricon-done";
			        obj_.removeEventListener("mousedown", function() { down(list[i]); });
					    obj_.removeEventListener("touchstart", function() { down(list[i]); });
			        return;
		        }
		        if (offset_ >= 60) {
							offset_ += 1;
			        if (offset_ > 90) offset_ = 90;
						} else {
			        offset_ -= 1;
			        if (offset_ < 0) offset_ = 0;
						}
		        obj_.style.left = offset_ + "%";
	        }

	        // finish one task
	        function punch() {
		        var task = obj_.id[4];
		        var csrftoken = document.getElementsByName("csrfmiddlewaretoken").item(0).value;
		        $.post('', {'taskNo': task, 'csrfmiddlewaretoken': csrftoken });
	        }

				</script>
	      {% for todo in todo_list %}
		      {% if todo.delta == 0 %}
            <div class="coloricon-done" id="icon{{ todo.task.number }}"><span class="icon fa-chevron-circle-down"></span></div>
		        <div class="colorblock c{{ todo.task.number }} thick done" style="color: black;">
			        {{ todo.task.task }} | {{ todo.delta }} / {{ todo.task.interval }}
		        </div>
		      {% else %}
            <div class="coloricon" id="icon{{ todo.task.number }}"><span class="icon fa-circle-o"></span></div>
		        <div class="colorblock c{{ todo.task.number }} thick">
			        {{ todo.task.task }} | {{ todo.delta }} / {{ todo.task.interval }}
		        </div>
		      {% endif %}

	      {% endfor %}

      </div>

    </section>

		<!-- Display -->
    <section id="display" class="white narrow center unselectable">
      <div class="container">
	      <div class="row">
		      {% for date in dates %}
		        <div class="2u" style="text-align: center; font-size: smaller">{{ date|date:"M-d" }}</div>
		      {% endfor %}
	      </div>

				<div class="row">
					{% for day in days %}
	          <div class="2u">
	            {% for task in day %}
		            <div class="colorblock c{{ task.taskNo }}"></div>
	            {% endfor %}
	          </div>
					{% endfor %}
				</div>


      </div>
    </section>

		<section id="money" class="white narrow center">
      <div class="container">

        <h3>Amount: ¥{{ amount }}</h3>
        <div class="row" style="margin: auto">
		      <div class="6u"><h4>Monthly Out: ¥{{ monthly_out }}</h4></div>
		      <div class="6u$"><h4>Monthly In: ¥{{ monthly_in }}</h4></div>
        </div>

	      <div class="row">
		      <div class="1u">{{ today|date:"M" }}</div>
	        <div class="11u$">
		        {% for bill in bill_list %}
	            <div class="colorblock c{{ bill.index }} thick databar" style="width: {{ bill.percentage }}%;">
		            {{ bill.kind }}: {{ bill.sum }}
	            </div>
		        {% endfor %}
	        </div>
	      </div>
      </div>

		</section>


		<section id="add" class="white narrow center unselectable">
			<div class="container">
				<form method="post" id="PaymentForm" enctype="multipart/form-data">
					{% csrf_token %}

						<div class="row" style="max-width: 500px; margin: auto;">

							<div class="3u">Info</div>
							<div class="9u$">
								<input type="text" name="info" placeholder="enter..." />
							</div>

							<div class="3u">Value</div>
							<div class="9u$">
								<input type="text" name="value" value="-10" />
							</div>

							<div class="3u">Kind</div>
							<div class="9u$">
								{% for kind in kind_list %}
									<label><input type="radio" name="kind" value="{{ kind }}">{{ kind }}</label>
								{% endfor %}
							</div>

							<div class="3u">Time</div>
							<div class="9u$">
								<input type="text" name="time" value="{{ today|date:"Y-m-d" }} 00:00" />
							</div>

							<div class="12u$">
								<input type="submit" style="width: 100%;" value="Add Payment"/>
							</div>
						</div>
				</form>
			</div>

		</section>

		<section id="checkpoint" class="white narrow center unselectable">
			<div class="container">
				<form method="post" id="CheckpointForm" enctype="multipart/form-data">
					{% csrf_token %}

						<div class="row" style="max-width: 500px; margin: auto;">

							<div class="3u">Wechat</div>
							<div class="9u$">
								<input type="text" name="wechat" value="{{ last_wechat }}" />
							</div>

							<div class="3u">Alipay</div>
							<div class="9u$">
								<input type="text" name="alipay" value="{{ last_alipay }}" />
							</div>

							<div class="3u">Campus</div>
							<div class="9u$">
								<input type="text" name="campus" value="{{ last_campus }}" />
							</div>

							<div class="12u$">
								<input type="submit" style="width: 100%;" value="Add Checkpoint"/>
							</div>
						</div>
				</form>
			</div>

		</section>


{% endblock %}
