{% extends "base.html" %}

{% block title %}Execution's Puncher{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
	<li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
	<li><a href="#title" id="title-link" class="skel-layers-ignoreHref"><span class="icon fa-home">itle</span></a></li>
	<li><a href="#todo" id="todo-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Todo</span></a></li>
	<li><a href="#display" id="display-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Display</span></a></li>

{% endblock %}

{% block content %}

    <!-- Title -->
    <section id="title" class="top dark center narrow" style="background: darkslateblue">

        <div class="container">
		        <header>
		            <h2>Puncher Daily Task</h2>
		            <p>User: {{ user }}</p>
	          </header>
        </div>
    </section>

		<!-- Todo_list -->
    <section id="todo" class="body narrow center unselectable">
      <div class="container" id="todo-container">
        <script type="text/javascript">

					var list;
					var touch_before, touch_after, x_before, x_after;

					window.onload = function() {
						list = document.getElementsByClassName("coloricon");
						for (let i = 0; i < list.length; i++) {
					    list[i].addEventListener("mousedown", function() { down(list[i]); }, false);
					    list[i].addEventListener("touchstart", function() { down(list[i]); }, false);
						}
					}


					var drag_ = false;
					var D = new Function('obj', 'return document.getElementById(obj);');
					var oevent = new Function('e', 'if (!e) e = window.event;return e');
					var fw = document.getElementById("todo-container").clientWidth;
					var offset_, obj_;

					function down(obj) {
						if (drag_ == true) setInterval(Set_obj, 30);
						drag_ = true;
						obj_ = obj;
						x_before = obj_.clientLeft;

						if (event.touches) touch_before = event.touches[0].clientX;
						else touch_before = event.clientX;

						document.addEventListener("mousemove", function() { move(); }, false);
						document.addEventListener("touchmove", function() { move(); }, false);
						document.addEventListener("mouseup", function() {drag_ = false; setInterval(Set_obj, 30);}, false);
						document.addEventListener("touchend", function() {drag_ = false; setInterval(Set_obj, 30);}, false);
					}

					function move() {
						if (!drag_) return;
						if (obj_.style.color == "white") return;

						if (event.touches) touch_after = event.touches[0].clientX;
						else touch_after = event.clientX;
						console.log(event);

						offset_ = (x_before + touch_after- touch_before)/fw*100;
						if (offset_ > 88) offset_ = 90 - 176 / offset_; // smooth
						obj_.style.left = offset_ + "%";

					}

	        function Set_obj() {
		        if (offset_ <= 0) return;
		        if (offset_ >= 90) {
			        obj_.firstElementChild.className = "icon fa-chevron-circle-down";
		          obj_.style.color = "white";
			        offset_ = 0;
			        return;
		        }
		        if (offset_ >= 60) {
							offset_ += 1;
			        if (offset_ > 90) offset_ = 90;
						} else {
			        offset_ -= 1;
			        if (offset_ < 0) offset_ = 0;
						}
		        obj_.style.left = offset_ + "%";
	        }


				</script>
	      {% for todo in todo_list %}
		      <div class="coloricon" id="icon{{ todo.task.number }}" style="position: relative;"><span class="icon fa-circle-o"></span></div>

	        <div class="colorblock c{{ todo.task.number }} thick" style="text-align: center; color: white">
		        {{ todo.task.task }} | {{ todo.delta }} / {{ todo.task.interval }}
	        </div>
	      {% endfor %}

      </div>

    </section>

		<!-- Display -->
    <section id="display" class="white narrow center unselectable">
      <div class="container">
	      <div class="row">
		      {% for date in dates %}
		        <div class="2u" style="text-align: center; font-size: smaller">{{ date|date:"M-d" }}</div>
		      {% endfor %}
	      </div>

				<div class="row">
					{% for day in days %}
	          <div class="2u">
	            {% for task in day %}
		            <div class="colorblock c{{ task.taskNo }}"></div>
	            {% endfor %}
	          </div>
					{% endfor %}
				</div>


      </div>
    </section>

		<section id="money" class="white narrow center unselectable">
      <div class="container">Amount: ¥{{ amount }}</div>
			<div class="container">
				<form method="post" id="form" enctype="multipart/form-data">
					{% csrf_token %}

						<div class="row" style="max-width: 500px; margin: auto;">
							<div class="12u$">
								<input type="text" name="info" placeholder="info" />
							</div>
							<div class="12u$">
								<input type="text" name="value" placeholder="value" />
							</div>
							<div class="4u">Kind</div>
							<div class="8u$">
								{% for kind in kind_list %}
									<label><input type="radio" name="kind" value="{{ kind }}">{{ kind }}</label>
								{% endfor %}
							</div>
							<div class="12u$">
								<input type="text" name="time" placeholder="time" />
							</div>

							<div class="12u$">
								<input type="submit" style="width: 100%;" value="Add Payment"/>
							</div>
						</div>
				</form>
			</div>

		</section>


{% endblock %}
