{% extends "base.html" %}

{% block title %}Execution's Puncher{% endblock %}

{% block user %}
    <span class="image avatar48"><img src="/static/img/avatar.jpg" alt="" /></span>
    <h1 id="title">Execution</h1>
    <p>DeadLiner</p>
{% endblock %}

{% block sidebar %}
	<li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="title" class="top dark center narrow" style="background: darkslateblue">

        <div class="container">
		        <header>
		            <h2>Puncher</h2>
		            <p>兴趣使然的打卡器</p>
	          </header>
        </div>
    </section>


		<!-- Display -->
    <section id="display" class="white narrow center unselectable">
      <div class="container">
	      <div class="row">
		      {% for date in dates %}
		        <div class="2u" style="text-align: center; font-size: smaller">{{ date|date:"M-d" }}</div>
		      {% endfor %}
	      </div>

				<div class="row">
					{% for day in days %}
	          <div class="2u">
	            {% for task in day %}
		            <div class="colorblock c{{ task.taskNo }}"></div>
	            {% endfor %}
	          </div>
					{% endfor %}
				</div>

      </div>
    </section>

		<!-- display -->

		<section id="money" class="white narrow center">
      <div class="container">
        <h3>Execution's Bill</h3>
        <div class="row" style="margin: auto">
		      <div class="6u"><h4>Monthly Out: ¥{{ monthly_out }}</h4></div>
        </div>
        <div class="row" style="margin: auto">
	        {% for bill in bill_list %}
	          <div class="2u row-item-close">
		          <div class="colorblock c{{ bill.index }} thick">{{ bill.kind }}</div>
	          </div>
	        {% endfor %}
        </div>
	      <div class="row">
		      <div class="1u">{{ today|date:"M" }}</div>
	        <div class="11u$">
		        {% for bill in bill_list %}
	            <div class="colorblock c{{ bill.index }} thick databar" style="width: {{ bill.percentage }}%;">
		            {{ bill.sum }} - {{ bill.kind }}
	            </div>
		        {% endfor %}
	        </div>
	      </div>
      </div>

		</section>

    <!-- Login -->
    <section id="list" class="body">
      <div class="container">
				{% if msg %}
	        <p>{{ msg }}</p>
	      {% endif %}
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="row" style="max-width: 500px; margin: auto;">
						<div class="12u$">
							<input type="text" name="email" placeholder="Email" />
						</div>
						<div class="12u$">
							<input type="password" name="password" placeholder="Password" />
						</div>

						<div class="12u$">
							<input type="submit" style="width: 100%;" value="Login"/>
						</div>
					</div>
				</form>


      </div>
    </section>


{% endblock %}
