{% extends "base.html" %}

{% block title %}X-News{% endblock %}

{% block user %}
    {% if user %}
        <span class="image avatar48"><img src="/static/img/user.jpg" alt="" /></span>
        <h1 id="title">{{ user.username }}</h1>
        <p>{{ user.introduction }}</p>
    {% else %}
        <span class="image avatar48"><img src="/static/img/tourist.jpg" alt="" /></span>
        <h1 id="title">Tourist</h1>
        <p>Introduction.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if user %}
        <li><a href="/xnews/logout/" id="logout-link" class="skel-layers-ignoreHref"><span class="icon fa-user-times">Logout</span></a></li>
    {% else %}
        <li><a href="/xnews/login/" id="login-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Login</span></a></li>
        <li><a href="/xnews/register/" id="register-link" class="skel-layers-ignoreHref"><span class="icon fa-user-plus">Register</span></a></li>
    {% endif %}
    <br />

    <li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Home</span></a></li>
    <li><a href="#search" id="search-link" class="skel-layers-ignoreHref"><span class="icon fa-search">Search</span></a></li>
    <li><a href="#list" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-list">List</span></a></li>

{% endblock %}

{% block content %}

    <!-- Search -->
    <section id="search" class="top dark center" height="100px">
        <div class="container">
            <header><h2>X-News</h2></header>
            <form method="post" action="#">
                <div class="row">
                    <div class="8u 12u$(mobile)"><input type="text" name="keyword" placeholder="Keyword" /></div>
                    <div class="4u$ 12u$(mobile)"><input type="submit" value="Search" /></div>
                </div>

            </form>
        </div>
    </section>

    <!-- Display -->
    <section id="category" class="body center">
        <div class="container">

            <div class="row">
                <div class="6u 12u$(mobile)">
                    <article class="item">
                        <a href="/blog" class="image fit"><img src="/static/img/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Blog</h3>
                        </header>
                    </article>
                </div>
                <div class="6u$ 12u$(mobile)">
                    <article class="item">
                        <a href="/blog" class="image fit"><img src="/static/img/pic02.jpg" alt="" /></a>
                        <header>
                            <h3>Blog</h3>
                        </header>
                    </article>
                </div>

            </div>


        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
        <div class="container">

            {% for post in posts %}
            <div class="post">
                <h3><a href="#" style="text-decoration:none;">News Title</a></h3>
                <div class="info">
                </div>
                <div class="summary">
                    xxxxxxx
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}
