{% extends "base.html" %}

{% block title %}X-News{% endblock %}

{% block sidebar %}
    <li><a href="/" id="home-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-left">Home</span></a></li>
    <li><a href="#search" id="search-link" class="skel-layers-ignoreHref"><span class="icon fa-search">Search</span></a></li>
    <li><a href="#list" id="list-link" class="skel-layers-ignoreHref"><span class="icon fa-list">List</span></a></li>

{% endblock %}

{% block content %}


    <!-- Search -->
    <section id="search" class="top dark center" height="100px">
        <div class="container">
            <header><h2>X-News</h2></header>
            <form method="post" action="#">
                <div class="row">
                    <div class="8u 12u$(mobile)"><input type="text" name="keyword" placeholder="Keyword" /></div>
                    <div class="4u$ 12u$(mobile)"><input type="submit" value="Search" /></div>
                </div>

            </form>
        </div>
    </section>

    <!-- List -->
    <section id="list" class="body">
        <div class="container">

            {% for post in posts %}
            <div class="post">
                <h3><a href="#" style="text-decoration:none;">News Title</a></h3>
                <div class="info">
                </div>
                <div class="summary">
                    xxxxxxx
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}
